body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* HEADER */
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;

}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81B3D2;
}

.site-navigation a:focus {
  color: #000000;
  opacity: 0.5;
}

/* MAIN */

.intro {
  width: 1200px;
  height: 508px;
  margin: 0 auto;
  color: #5496BD;
  background-image: 
    url("../img/intro-background.jpg"),
    url("../img/intro-mask.svg"); 
  background-repeat: no-repeat, no-repeat;
  background-size: 1200px 800px, 1200px 57px;
  background-position-y: -56px;
  /* Временно для сетки */
  outline: solid 3px rgb(216, 255, 44);
} 

.intro-welcome {
  margin-left: 31%;
  margin-top: 6%;
  /* Временно для сетки */
  outline: solid 3px rgb(40, 27, 156);
}

.container h1 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-top: 46px;
}

.container h2 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  padding-top: 13px;
}

.features-items.block {
  background-color: #81B3D2;
  color:#ffffff;
}

.features-items h3 {
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}

.features-items p {
  font-weight: 400;
}

/* Форма поиска гостиницы */
.search {
  width: 1200px;
  margin: 0 auto;
/* Временно для сетки */
  outline: solid 3px rgb(40, 27, 156);
}

.search-hostel {
  width: 568px;
  height: 395px;
  margin: 0 auto;
  text-align: center;

  /* Временно для сетки */
  outline: solid 3px rgb(67, 201, 14);
}

.search h2 {
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* Временно для сетки */
  outline: solid 3px rgb(226, 70, 22);
}

.search p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
  /* Временно для сетки */
  outline: solid 3px rgb(56, 226, 22);
}

.button-search {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  background-color: #766357;
  border: none;
  width: 568px;
}

.form-hostel .button-search{
  background-color: #81B3D2;
  width: 458px;
}

.button-search:hover {
  background-color: #604E43;
}

.button-search:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #503E33;
}

.search-item input {
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border: 0px;
}

.search-item input:hover {
  border: none;
  background-color: #EBEBEB;
}

.search-item input:focus {
  border: 2px solid #EBEBEB;
  background-color: #ffffff;
}

.search-item .button {
  background-color: #F2F2F2;
  border: none;
}

.button-calendar,
.button-minus,
.button-plus,
.up,
.down {
  vertical-align: middle;
  fill: #A9A9A9;
}

.button-calendar:hover path,
.button-minus:hover path,
.button-plus:hover path,
.up:hover path,
.down:hover path {
  fill: #000000;
}

.button-calendar:active path,
.button-minus:active path,
.button-plus:active path,
.up:active path,
.down:active path {
  fill: #81B3D2;
}

/* ---------FOOTER -------------- */
.footer-visit {
  font-size: 21px;
  line-height: 26px;
}

.footer-icons {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: #81B3D2;
  justify-content: center;
  align-items: center;
}

.footer-icons:hover {
  background-color: #669EC0;
}

.footer-icons:active {
  background-color: #5496BD;
}

.footer-icons:active path {
  fill: rgba(255, 255, 255, 0.5);
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
}

.logo-academy path {
  fill: #000000;
}

.logo-academy:hover path {
  fill: #81B3D2;
}

.logo-academy:active path {
  fill: #BDBBBC;
}

.main-footer {
  width: 1200px;
  height: 120px;
  padding-top: 36px;
  margin-left: auto;
  margin-right: auto;
  
  /* Временно для сетки */
  outline: solid 3px rgb(219, 20, 136);
}

.main-footer .footer-container {
  display: flex;
  align-items: center;
  margin-left: 132px;
  margin-right: 101px;
  /* Временно для сетки */
  outline: solid 3px rgb(10, 224, 81);
}

.footer-visit {
  margin: 0;
  width: 136px;
  margin-right: 256px;
  /* Временно для сетки */
  outline: solid 3px rgb(40, 27, 156);
}

.footer-social {
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 150px;
  height: 48px;

  /* Временно для сетки */
  outline: solid 3px rgb(40, 27, 156);
}

.footer-copyright {
  display: flex;
  align-items: center;
  width: 197px;
  margin: 0;
  margin-left: auto;

  /* Временно для сетки */
  outline: solid 3px rgb(40, 27, 156);
}

/* ----------  hotels.html -------------*/
.visually-hidden {
  visibility: hidden;
}

.site-navigation .hotel-color {
  color: #766357;
}

.filters {
  background-image: url(../img/blur-background.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
}

.filter ul,
.sort ul {
  list-style: none;
}

.sort h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.sort p,
.sort a {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sort a {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px dashed #81B3D2;
}

.sort a:hover {
  color: #81B3D2;
  border-bottom: 1px dashed #81B3D2;
}

.sort a:active {
  color: #000000;
  border-bottom: none;
}

.block-rating span {
  font-weight: 400;
  background-color: #F2F2F2;
}

.search-results ul {
  list-style: none;
}

.search-results-item h2 {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.search-results-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
}

.button-list a {
  color: #ffffff;
}

.button-detail {
  font-weight: bold;
  background-color: #81B3D2;
}

.button-detail:hover,
.form-hostel .button-search:hover {
  background-color: #669EC0;
}

.button-detail:active,
.form-hostel .button-search:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.5);
}

.button-reserve {
  font-weight: bold;
  background-color: #766357;
}

.button-reserve:hover {
  background-color: #604E43;
}

.button-reserve:active {
  background-color: #503E33;
  color: rgba(255, 255, 255, 0.5);
}


/*   СЕТОЧНЫЕ СТИЛИ     */
html, 
body {
  min-width: 1200px;
  min-height: 2762px;
} 

.main-header {
  height: 56px;
  /* Временно для сетки */
  outline: solid 3px green;
}

.main-navigation {
  width: 1200px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  /* Временно для сетки */
  outline: solid 3px rgb(40, 27, 156);
}

.main-logo-sedona {
  width: 138px;
  height: 71px;
  position: absolute;
  top: 0;
  left: 50%; 
  right: 50%;
  transform: translateX(-50%);
  /* Временно для сетки */
  outline: solid 3px rgb(228, 7, 7);
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  
/* Временно для сетки */
  outline: solid 3px rgb(40, 27, 156);
}

/* -----Результаты поиска гостиницы ----*/
.search-results {
  width: 1200px;
  margin: auto;
  /* Временно для сетки */
  outline: solid 3px rgb(40, 27, 156);
}


.search-results-item {
  display: flex;
  justify-content: space-between;
  width: 1056px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 30px;
  /* Временно для сетки */
  outline: solid 3px rgb(41, 171, 247);
}

.block-hotel {
  display: flex;
  justify-content: space-between;
  width: 423px;
  height: 90px;
  /* Временно для сетки */
  outline: solid 3px rgb(7, 187, 52);
}

.block-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 111px;
  height: 90px;
  /* Временно для сетки */
  outline: solid 3px rgb(7, 187, 52);
}

.hotel-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 258px;
  height: 90px;
  /* Временно для сетки */
  outline: solid 3px rgb(187, 7, 133);
}

.hotel-name h2,
.block-hotel p {
  padding: 0;
  margin: 0;
}

.hotel-cost {
  display: flex;
  width: 182px;
  justify-content: space-between;
}

.button-list {
  display: flex;
  width: 258px;
  justify-content: space-between;
}

