body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold;
  color: #000000;
  text-transform: uppercase;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.2);
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* HEADER */
.main-navigation {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  position: relative;
}

.site-navigation {
  list-style: none;
}

.site-navigation li {
  padding: 0 73px;
}

.site-navigation li:nth-child(2) {
  margin-right: 243px;
}

.site-navigation li:nth-child(4) {
  margin-left: auto;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover {
  color: #81B3D2;
}

.site-navigation a:focus {
  color: #000000;
  opacity: 0.5;
}

/* MAIN */
.intro {
  width: 1200px;
  height: auto;
  margin: 0 auto;
  color: #5496BD;
  padding-top: 75px;
  padding-bottom: 80px;
  background: 
    url("../img/intro-mask.svg") center bottom no-repeat,
    url("../img/intro-background.jpg") 0 -64px no-repeat;
  background-size: 1200px 57px, 1200px 800px;
} 

.intro-welcome {
  display: block;
  width: 459px;
  margin-left: auto;
  margin-right: auto;
}

.container-head {
  padding-top: 59px;
  padding-bottom: 51px;
}

.container-head h1 {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  margin: 0 auto;
  max-width: 440px;
  margin-bottom: 29px;
}

.container-head h2 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
}

.features {
  width: 1200px;
  margin: 0 auto;
}

.features-list {
  display: flex;
  text-align: center;
}

.features-items.grow {
  flex-grow: 1;
}

.features-items {
  align-items: center; 
  width: 400px;
  height: 256px;
}

.features-items.block-3 {
  box-sizing: border-box;
  padding-top: 46px;
  padding-bottom: 46px;
  background-color: #eeeeee;
}

.features-items.block {
  background-color: #81B3D2;
  color:#ffffff;
}

.features-items.block-2 {
  padding: 0;
  margin: 0;
  padding-top: 57px;
  padding-bottom: 17px;
}

.features-items.block-2 img {
  margin-bottom: 26px;
}

.features-items h3 {
  margin-top: 0;
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
  margin-bottom: 24px;
}

.features-items p {
  margin-top: 0;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 21px;
}

/* Форма поиска гостиницы */
.search {
  padding-bottom: 0;
  position: relative;
  width: 1200px;
  margin: 0 auto;
  padding-top: 56px;
}

.search-hostel {
  width: 568px;
  height: 395px;
  text-align: center;
  padding: 55px;
  position: absolute;
  background-color: #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 0px 15px 5px rgba(0, 1, 1, 0.15);
  top: 100%;
  left: 50%; 
  transform: translateX(-50%);
}

.form-hostel {
  width: 458px;
}

.search-item {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 28px;
}

.search-item input {
  height: 34px;
  padding-left: 15px;
  flex-grow: 1;
  font: inherit;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #F2F2F2;
  border: 2px solid rgba(255, 255, 255, 0);
}

.search-item label {
  margin-right: 20px;
}

.search-item-elements {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.search-item-elements .adults {
  margin-right: 40px;
}

.search-item-elements .kids {
  margin-right: 30px;
}

.button.calendar {
  position: absolute;
  right: 58px;
}

.search-item-elements button {
  display: flex; 
  align-items: center; 
  justify-content: center;
  width: 38px;
  min-height: 100%;
  padding: 0; 
}

.search-item-elements input {
  padding: 0;
  width: 38px;
  height: 34px;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0);
}

.search h2 {
  padding: 0;
  font-size: 30px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto 28px;
}

.search > p {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 47px;
}

.button-search {
  display: block;
  font-size: 21px;
  line-height: 86px;
  font-weight: bold;
  color: #ffffff;
  background-color: #766357;
  width: 568px;
  margin: 0 auto;
  text-align: center;
}

.form-hostel .button-search {
  background-color: #81B3D2;
  width: 100%;
  margin-top: 26px;
  line-height: 55px;
  border: none;
  text-transform: uppercase;
}

.button-search:hover {
  background-color: #604E43;
}

.button-search:focus {
  color: rgba(255, 255, 255, 0.5);
  background-color: #503E33;
}

.search-item input:hover {
  border: none;
  background-color: #EBEBEB;
  border: 2px solid rgba(255, 255, 255, 0);
}

.search-item input:focus {
  border: 2px solid #EBEBEB;
  background-color: #ffffff;
}

.search-item .button {
  background-color: #F2F2F2;
  border: none;
}

.button,
.up,
.down {
  vertical-align: middle;
  fill: #A9A9A9;
}

.button.calendar {
  background-color: transparent;
}

.button.calendar:active {
  border: 5px solid #503E33;
}

.up:hover path,
.down:hover path,
.button:hover path {
  fill: #000000;
}

.button:active path,
.up:active path,
.down:active path {
  fill: #81B3D2;
}

.map-sedona {
  width: 1200px;
  margin: 0 auto;
}

/* ---------FOOTER -------------- */
.footer-visit {
  font-size: 21px;
  line-height: 26px;
}

.footer-icons {
  display: flex;
  width: 46px;
  height: 48px;
  background-color: #81B3D2;
  justify-content: center;
  align-items: center;
}

.footer-icons:hover {
  background-color: #669EC0;
}

.footer-icons:active {
  background-color: #5496BD;
}

.footer-icons:active path {
  fill: rgba(255, 255, 255, 0.5);
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  color: #000000;
}

.logo-academy path {
  fill: #000000;
}

.logo-academy:hover path {
  fill: #81B3D2;
}

.logo-academy:active path {
  fill: #BDBBBC;
}

.main-footer {
  margin: 0 auto;
  width: 1200px;
  height: 60px;
  padding: 30px 0;
}

.main-footer.position {
  position: relative;
  margin-top: -123px;
  background-color: rgba(255, 255, 255, 0.9);
}

.main-footer .footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 968px;
  margin-left: 132px;
  margin-right: auto;
}

.footer-visit {
  margin: 0;
  width: 136px;
  margin-right: 256px;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  width: 150px;
  height: 48px;
}

.footer-copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 197px;
  margin-left: auto;
}

.footer-copyright a {
  height: 40px;
}

/* ----------  hotels.html -------------*/
.visually-hidden {
  visibility: hidden;
  margin: 0 auto;
}

.site-navigation .hotel-color {
  color: #766357;
}

.container-hotel {
  width: 1200px;
  margin: 0 auto;
  /* Временно для сетки */
  outline: solid 3px rgb(23, 233, 34);
}

.container-hotel h1 {
  position: absolute;
  width: 0;
  height: 0;
  margin: 0;
  overflow: hidden;
}

.filters {
  background-color: #5496BD;
  background-image: url(../img/blur-background.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
  /* Временно для сетки */
  outline: solid 3px rgb(40, 27, 156);
}

.filter {
  display: flex;
  justify-content: space-between;
}

.filter fieldset {
  padding: 0;
  border: none;
  margin-left: 72px;
  /* Временно для сетки */
  outline: solid 3px rgb(206, 255, 31);
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  padding-top: 5px;
}

.filter-range {
  margin-right: 72px;
  /* Временно для сетки */
  outline: solid 3px rgb(206, 255, 31);
}

.container-sort {
  display: flex;
  margin-left: 72px;
  margin-right: 72px;
  justify-content: space-between;
  align-items: center;
  /* Временно для сетки */
  outline: solid 3px rgb(255, 31, 31);
}

.sort {
  display: flex;
  justify-content: space-between;
  width: 518px;
  align-items: center;
  /* Временно для сетки */
  outline: solid 3px rgb(31, 255, 68);
}

.filter ul,
.sort ul {
  list-style: none;
  padding: 0;
}

.sort h3 {
  font-size: 21px;
  font-weight: bold;
  /* Временно для сетки */
  outline: solid 1px rgb(31, 229, 255);
}

.sort-items {
  display: flex;
  width: 240px;
  justify-content: space-between;
  align-items: center;
  /* Временно для сетки */
  outline: solid 1px rgb(0, 0, 0);
}

.sort p,
.sort a {
  font-size: 12px;
  font-weight: 400;
  /* Временно для сетки */
  outline: solid 1px rgb(31, 229, 255);
}

.sort a {
  color: rgba(0, 0, 0, 0.5);
  border-bottom: 1px dashed #81B3D2;
}

.sort a:hover {
  color: #81B3D2;
  border-bottom: 1px dashed #81B3D2;
}

.sort a:active {
  color: #000000;
  border-bottom: none;
}

.block-rating span {
  font-weight: 400;
  background-color: #F2F2F2;
  padding: 2px 13px;
}

.search-results ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-results-item h2 {
  padding: 0;
  margin: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  /* Временно для сетки */
  outline: solid 2px rgb(255, 31, 31);
}

.search-results-item p {
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  /* Временно для сетки */
  outline: solid 2px rgb(255, 1, 242);
}

.button-list a {
  color: #ffffff;
  padding: 2px 17px;
}

.button-detail {
  font-weight: bold;
  background-color: #81B3D2;
}

.button-detail:hover,
.form-hostel .button-search:hover {
  background-color: #669EC0;
}

.button-detail:active,
.form-hostel .button-search:active {
  background-color: #5496BD;
  color: rgba(255, 255, 255, 0.5);
}

.button-reserve {
  font-weight: bold;
  background-color: #766357;
}

.button-reserve:hover {
  background-color: #604E43;
}

.button-reserve:active {
  background-color: #503E33;
  color: rgba(255, 255, 255, 0.5);
}

/*   СЕТОЧНЫЕ СТИЛИ     */
html, 
body {
  min-width: 1200px;
} 

.main-header {
  height: 56px;
}

.main-navigation {
  width: 1200px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
}

.main-logo-sedona {
  width: 138px;
  height: 71px;
  position: absolute;
  top: 0;
  left: 50%; 
  right: 50%;
  transform: translateX(-50%);
}

.site-navigation {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* -----Результаты поиска гостиницы ----*/
.search-results {
  width: 1200px;
  margin: auto;
  /* Временно для сетки */
  outline: solid 3px rgb(40, 27, 156);
}

.search-results-item {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 1056px;
  padding: 30px 72px 30px 72px;
  /* Временно для сетки */
  outline: solid 3px rgb(41, 171, 247);
}

.block-hotel {
  display: flex;
  justify-content: space-between;
  width: 423px;
  height: 90px;
  /* Временно для сетки */
  outline: solid 3px rgb(7, 187, 52);
}

.block-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 111px;
  height: 90px;
  /* Временно для сетки */
  outline: solid 3px rgb(7, 187, 52);
}

.hotel-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 258px;
  height: 90px;
  /* Временно для сетки */
  outline: solid 3px rgb(187, 7, 133);
}

.hotel-name h2,
.block-hotel p {
  padding: 0;
  margin: 0;
}

.hotel-cost {
  display: flex;
  width: 182px;
  justify-content: space-between;
}

.button-list {
  display: flex;
  width: 258px;
  justify-content: space-between;
}
